<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">


    <springProperty scope="context" name="LOG_PATH" source="logger.file.path"/>
    <springProperty scope="context" name="LOG_LEVEL" source="logger.level"/>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/simplybrewing.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/modulo_orchestratore_servizi.%d{yyyy-MM-dd}.%i.old.log.gz</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>30MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="org.spring.simplybrewing" level="${LOG_LEVEL}" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="error">
        <appender-ref ref="FILE-ROLLING"/>
        <appender-ref ref="STDOUT" />
    </root>

</configuration>